footer{
    background-color: #046699;
    margin-top: 20px;
    margin-bottom: 1em;
    width: 100%;
    .copyright p{
        font-size: 1em;
        color: white;
        margin-top: 20px;
    }
    .red{
        margin-top: 5px;
        text-decoration: none;
    }
    a{
        text-decoration: none;
        color: rgba(255, 255, 255, 0.815);
        font-size: 3em;
    }
}